/* =====================================================================
	Colors
	==================================================================== */

	$dark-color													: #000000;
	$light-color												: #F0EFEB;
	$accent-color												: #a6808c;
	$accent-color-light									: lighten($accent-color, 25%);
	

/* =====================================================================
	Layout
	==================================================================== */

	$z-bottom														: 100;
	$z-bottom-mid												: 200;
	$z-mid															: 300;
	$z-top-mid													: 400;
	$z-top															: 500;

	$z-modifier													: 50;

/* =====================================================================
	Spacing
	==================================================================== */

	$spacing-xxs												:	.25em;
	$spacing-xs													: .5em;
	$spacing-sm													: 1em;
	$spacing-md													: 2em;
	$spacing-lg													: 3em;
	$spacing-xl													: 5rem;
	$spacing-xxl												: 8rem;

/* =====================================================================
	Fonts
	==================================================================== */

	$body-font													:	'Open Sans', sans-serif;
	$heading-font												: 'Playfair Display', serif;

	$letter-spacing-base								: .02em;
	$letter-spacing-plus								: .05em;

	$line-height-snug										: 1;
	$line-height-relaxed								: 1.2;

	$font-weight-light									: 300;
	$font-weight-regular								: 500;
	$font-weight-bold										: 700;

/* =====================================================================
	Transitions
	==================================================================== */

	$ui-transition-duration-short				: .1s;
	$ui-transition-duration							: .3s;
	$ui-transition-duration-long				: .6s;

/* ==========================================================================
	Media Break points (Tailwind CSS defaults)
	========================================================================= */

	$mobile-restrict-orientation				: 540px; // created to include smaller phones like iPhone 8
	$mobile-portrait										: 640px;
	$mobile-landscape										: 640px;
	$tablet-portrait-min								: ($mobile-portrait + 1);
	$tablet-portrait-max								: 768px;
	$tablet-landscape										: 1024px;
	$desktop														: 1280px;
	$desktop-lg													:	1536px;
	/* chromebook specific */
	$desktop-sm													: 1130px;
	$desktop-sm-height									: 900px; 

/* ==========================================================================
	UI
	========================================================================= */

	$border-width-xs										: 2px;
	$border-width-sm										: 3px;
	$border-width-md										: 5px;
	$border-width-lg										: 8px;
