
/* =====================================================================
	Layout
	==================================================================== */

	.view {
		padding-top: $spacing-sm;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

/* =====================================================================
	Copy
	==================================================================== */

	a {
		color: $accent-color;
		transition: all $ui-transition-duration;

		&:hover {
			color: $accent-color;
			font-weight: $font-weight-bold;
			letter-spacing: $letter-spacing-plus;
			text-decoration: none;
		}
	}
