
/* =====================================================================
	Layout
	==================================================================== */

	.view {
		padding-top: $spacing-sm;
	}

/* =====================================================================
	Copy
	==================================================================== */

	strong { color: $accent-color; }

	a {
		color: $accent-color;
		transition: all $ui-transition-duration;

		&:hover {
			color: $accent-color;
			font-weight: $font-weight-bold;
			letter-spacing: $letter-spacing-plus;
			text-decoration: none;
		}
	}
